html {
    font-size: 16px;
    color: antiquewhite;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(53, 53, 53);
    justify-content: center;
    align-items: center;
}

.screen {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: stretch;
    font-size: 4rem;
    padding: 2rem;
    background-color: rgb(35, 110, 175);
    border-radius: 1rem;
    height: 5rem;
    max-width: 436px;
}

.calculatorBody {
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    background-color: rgb(111, 64, 158);
    min-width: 500px;
    border: 1rem solid rgb(111, 64, 158);
}


.buttonContainer {
    display: flex;
    flex-direction: column;
    height: 30rem;
    gap: 1rem;
    margin-top: 1rem;
    border-radius: 1rem;
    background-color: rgb(27, 83, 50);
    border: 1rem solid rgb(27, 83, 50);
}



button {
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    flex: 1 1 1rem;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    background-color: rgb(47, 79, 79);
    border-radius: 1rem;
}

.operator,
#equals {
    background-color: hsl(0, 25%, 25%);
}


button#zero {
    flex: 1;
}

/* button#equal {
    
    
    }

button#decimal {
    
    } */

.rowStyle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    gap: 1rem;
}

button:hover {
    background-color: hsl(180, 25%, 35%);
}

button.operator:hover {
    background-color: hsl(10, 25%, 35%);
}


.active {
    background-color: hsl(10, 50%, 35%);
}